<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RC - legg til fartøy</title>
  <style media="screen">
    label {
      display: inline-block;
      width: 7em;
    }

    input[type="number"] {
      width: 5em;
    }
  </style>
</head>
<body>
  <h1>Registrer nytt fartøy</h1>
  {% if (msg != null) %}
      <h2>{{msg}}</h2>
  {%endif%}
  <form method="post" action="newAircraft.php">
    <label for="name">Navn:</label><input type="text" id="name" name="name"><br>
    <label for="fpv">FPV</label><input type="checkbox" id="fpv" name="fpv" value="true"><br>
    <label for="camera">Kamera</label><input type="checkbox" id="camera" name="camera" value="true"><br>
    <input type="submit" name="submit" value="Lagre informasjon">
  </form>
</body>
</html>
