<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RC - batteri status</title>
  <style media="screen">
    label {
      display: inline-block;
      width: 7em;
    }

    input[type="number"] {
      width: 5em;
    }
  </style>
</head>
<body>
  <h1>Registrer batteristatus</h1>
  {% if (msg != null) %}
      <h2>{{msg}}</h2>
  {%endif%}
  <form method="post" action="registerBatteryStatus.php">
    <label for="batterypack">Batteripakke</label><select name="batterypack" id="batterypack">
      {% for battery in batteries %}
      <option value="{{battery.id}}">#{{battery.id}} - {{battery.cells}}cell/{{battery.capacity}} mAh</option>
      {%endfor%}
    </select><br>
    <label for="aircraft">Fartøy</label><select name="aircraft" id="aircraft">
      {% for aircraft in aircrafts %}
      <option value="{{aircraft.id}}">{{aircraft.name}}</option>
      {%endfor%}
    </select><br>
    <label for="flightTime">Flytid</label><input type="time" name="flightTime" id="flightTime" step="5" value="00:00:00"><br>
    <label for="remaining">Gjennværende kapasitet</label><input type="number" min="0" max="100" title="Gjennværende kapasitet i %" name="remaining" id="remaining"><br>
    <label for="flightDate">Dato</label><input type="date" name="flightDate" id="flightDate" title="Når ble flygingen gjennomført" value="{{now}}"><br>
    <input type="submit" name="submit" value="Lagre informasjon">
  </form>
</body>
</html>
