<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RC - Last opp bilde av fartøy</title>
  <style media="screen">
    label {
      display: inline-block;
      width: 7em;
    }

    input[type="number"] {
      width: 5em;
    }

    progress {
      width: 400px;
      display: none;
    }

    #uploadedImages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    #uploadedImages a img {
      border: 0px;
      padding: 3px;
      border-radius: 15px;
    }
  </style>
</head>
<body>
  <h1>Last opp bilde av fartøy</h1>
  <form onsubmit="javascript: return false">
    <label for="aircraft">Fartøy</label><select name="aircraft" id="aircraft">
      {% for aircraft in aircrafts %}
      <option value="{{aircraft.id}}">{{aircraft.name}}</option>
      {%endfor%}
    </select><br>
    <input type="file" id="file"><br>
    <input type="button" name="submit" value="Last opp bilde"><br>
    <progress id="progress"></progress>
    <div id="uploadedImages"></div>
  </form>
  <script>
    const button = document.querySelector('input[name="submit"]');
    button.addEventListener ('click', e=>{
      // The code here is cut and paste from "Javascript_forelesning1/file_upload_w_progressbar"
      let file = document.getElementById('file');
      file = file.files[0];  // First file in file input field

      const progress = document.getElementById('progress');
      progress.style.display = 'block';

      const xhr = new XMLHttpRequest();
      xhr.file = file; // not necessary if you create scopes like this
      xhr.addEventListener('progress', function(e) {
        const done = e.position || e.loaded, total = e.totalSize || e.total;
        progress.value = (Math.floor(done/total*1000)/10);
      }, false);
      if ( xhr.upload ) {
        xhr.upload.onprogress = function(e) {
          const done = e.position || e.loaded, total = e.totalSize || e.total;
          progress.value = (Math.floor(done/total*100));
        };
      }
      xhr.onreadystatechange = function(e) {
        if ( 4 == this.readyState ) {
          progress.style.display = 'none';
          const res = JSON.parse(e.target.response);
          const img = document.createElement('IMG');
          img.setAttribute('src', `thumbnail.php?id=${res.id}`);
          const a = document.createElement('A');
          a.setAttribute ('download', res.fname);
          a.setAttribute ('href', `images/${res.id}`);
          a.appendChild(img);
          document.getElementById('uploadedImages').appendChild(a);
          // File transfer successfull
        }
      };
      xhr.withCredentials = true;    // Needed to send the session id cookie
      xhr.open('post', 'XMLHttpRequestReciveFile.php', true);
      xhr.setRequestHeader("Content-Type", "application/octet-stream");
      xhr.setRequestHeader("X-OriginalFilename", file.name);
      xhr.setRequestHeader("X-OriginalFilesize", file.size);
      xhr.setRequestHeader("X-OriginalMimetype", file.type);
      xhr.setRequestHeader("X-AircraftId", document.getElementById('aircraft').value);
      xhr.send(file);
    });
  </script>
</body>
</html>
