<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../my_components/tree-view/tree-view.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="polymer1-app">
  <template>
    <style>
      :host {
        display: block;
      }

      tree-view {
        width: 20em;
        margin: 5px;
        border: 1px solid grey;
      }
    </style>
    <iron-ajax
      auto
      url="https://randomuser.me/api/?results=3"
      handle-as="json"
      last-response="{{response}}"></iron-ajax>
    <tree-view selected-path="{{path}}" selected-value="{{value}}" data="{{response}}"></tree-view>
    Path: [[path]]<br>
    Value: [[value]]
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Polymer1App extends Polymer.Element {
      static get is() { return 'polymer1-app'; }
    }

    window.customElements.define(Polymer1App.is, Polymer1App);
  </script>
</dom-module>
