<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
    auto
    url="http://localhost/imt2291-eksamen2018/RC/api/aircraftsWithImages.php"
    handle-as="json"
    on-response="handleResponse"
    last-response="{{response}}"
    debounce-duration="300"></iron-ajax>
    <iron-ajax
    auto
    url="http://localhost/imt2291-eksamen2018/RC/api/aircraftImages.php?id=[[aircraftId]]"
    handle-as="json"
    last-response="{{images}}"
    debounce-duration="300"></iron-ajax>
    <paper-dropdown-menu label="Velg fartøy">
      <paper-listbox slot="dropdown-content" selected="{{selectedAircraft}}">
        <template is="dom-repeat" items="{{response}}">
          <paper-item>[[item.name]]</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>
    <div id="images">
      <template is="dom-repeat" items="[[images]]">
        <a href="http://localhost/imt2291-eksamen2018/RC/images/[[item.id]]" download="[[item.filename]]"><img src="http://localhost/imt2291-eksamen2018/RC/thumbnail.php?id=[[item.id]]"></a>
      </template>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PolymerApp extends Polymer.Element {
      static get is() { return 'polymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'polymer-app'
          },
          selectedAircraft: {
            type: Number,
            value: 0,
            observer: 'aircraftChanged'
          },
          aircraftId: {
            type: Number
          }
        };
      }

      handleResponse(res) {
        this.aircraftId = this.response[0].id;
      }

      aircraftChanged (num) {
        if (this.response!=null)
          this.aircraftId = this.response[num].id;
      }
    }

    window.customElements.define(PolymerApp.is, PolymerApp);
  </script>
</dom-module>
